/* $Id$ */

/* Navigation */
.ethifygame_level_button_prev {
  float:left;
}
.ethifygame_level_button_next {
  float:right;
}

.eg-card {
  display:block;
  width:214px;
  height:184px;
  border-color:#9D8F79;
  border-style: solid;
  border-width: 1px;
  background-repeat:no-repeat;
  background-color: #F7F7F4;
  
  overflow:hidden;
  
  /* CSS3 */
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  -moz-box-shadow: 3px 3px 3px #9D8F79;
  -webkit-box-shadow: 3px 3px 3px #9D8F79;
  box-shadow: 3px 3px 3px #9D8F79;
  
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

.eg-card-default-image {
  background-image:url(card_ethify_logo.png);
}

.eg-card-solved {
  display:block;
  width:214px;
  height:184px;
  background-color: #E3E3E3;
  -moz-border-radius: 15px;
  border-radius: 15px;
  opacity:0.6;
}
.eg-card-solved:hover {
  opacity:0;
}
.eg-card-hide {
  display:none;
}

#eg-level-buttons {
  display: block;
  margin-right: 50px;
  text-align: center;
}

#eg-level-memory-done,
#eg-level-memory-todo,
#eg-level-memory-ignore {
  border: 0;
  padding: 0px;
  margin: 5px 18px 11px 18px; /* images need more space on the top */
  text-decoration:none;
  width: 172px;
  height: 50px;
  display: block;
  float: left;
  cursor: pointer;
  z-index: 10500;
}

#eg-level-memory-done {
  margin-left: 50px;
  background-image: url(Button_erledigt_3.png);
}
#eg-level-memory-todo {
  background-image: url(Button_nehmichmirvor_3.png);
}
#eg-level-memory-ignore {
  background-image: url(Button_egal_3.png);
}

#eg-level-memory-done:hover,
#eg-level-memory-todo:hover,
#eg-level-memory-ignore:hover {
  margin-top: 3px;
  margin-bottom: 13px;
} 


/* css for acquia_prosper - grid formats */
table.views-view-grid td {
  border-bottom: 0 !important;
}

/* format for lightbox to fit ethify-desgin */
#outerImageContainer,
#frameContainer {
  background-color: #9D8F79 !important;
}
#lightboxFrame {
  border: 0;
}
#frameHoverNav,
#imageDetails {
  display: none !important;
}
#imageDataContainer {
  background-color: #9D8F79 !important;
}
#imageData {
  background-color: #9D8F79 !important;
  padding: 5px 10px 10px;
}
#bottomNav {
  margin-bottom: 0 !important;
}
#bottomNavClose {
  margin: 20px 10px !important;
  padding: 0 !important;
  background-color: transparent !important;
}
.content-group-inner {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 5px #666666;
    background-color: #F7F7F4;
    color: #444437;
    margin: 5px;
}
