/* $Id$ */

/* hide unwanted sections */
#skip,
#header-top-wrapper,
#header-group-wrapper,
#header-primary-menu-wrapper,
#footer-message-wrapper,
#sidebar-first,
#sidebar-last
{
  display:none;
}

/* fix width for lightbox */
body,
div.full-width {
    min-width: 700px !important;
}

#main,
#content-group {
  width: 700px;
}

/* css for "mobile garland" */
#header-region,
#header,
#primary_links,
#breadcrumb,
#footer {
  display: none;
}
